node_modules
yarn-error.log
dist
.DS_Store
native/main.comp.js
public/bundle.*
public/twemoji
cypress/videos
cypress/screenshots
cypress/fixtures/example.json
proxy/target
proxy/**/*.rs.bk
schema.gql
ui/**/*.js
ui/**/*.js.map
