node_modules
yarn-error.log
dist
.DS_Store
native/main.comp.js
native/main.comp.js.map
public/bundle.*
public/twemoji
cypress/videos
cypress/screenshots
cypress/fixtures/example.json
cypress/workspace
proxy/**/target
proxy/**/*.rs.bk
/target
sandbox
