node_modules
yarn-error.log
dist
.DS_Store
native/bundle.*
design-system/build
public/*
cypress/videos
cypress/screenshots
cypress/fixtures/example.json
cypress/workspace
proxy/**/target
proxy/**/*.rs.bk
p2p-tests/workspace
/target
/test/**/*--state
sandbox
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.vagrant
