# Catch-all for any other files that need reviewing by anyone involved in
# Upstream
* @radicle-dev/upstream

# All UI related code and files
cypress/* @radicle-dev/upstream-ui
ui/* @radicle-dev/upstream-ui
patches/* @radicle-dev/upstream-ui
native/* @radicle-dev/upstream-ui
*.js @radicle-dev/upstream-ui
package.json @radicle-dev/upstream-ui
cypress.json @radicle-dev/upstream-ui
tsconfig.json @radicle-dev/upstream-ui

# All Proxy related code and files
fixtures/* @radicle-dev/upstream-proxy
proxy/* @radicle-dev/upstream-proxy
Cargo.* @radicle-dev/upstream-proxy
rust-toolchain @radicle-dev/upstream-proxy
