:root {
  --color-primary: #ff55ff;
  --color-primary-level-1: #ffeaff;
  --color-primary-level-2: #ff87ff;
  --color-primary-level-6: #663b66;
  --color-secondary: #5555ff;
  --color-secondary-level-1: #e3e3ff;
  --color-secondary-level-2: #bfbffc;
  --color-secondary-level-6: #313166;
  --color-tertiary: #55ffff;
  --color-tertiary-level-1: #d4ffff;
  --color-tertiary-level-2: #a0f2f2;
  --color-tertiary-level-6: #499494;
  --color-positive: #53db53;
  --color-positive-level-1: #e3ffe3;
  --color-positive-level-2: #b5ffb5;
  --color-positive-level-6: #569656;
  --color-caution: #ffc555;
  --color-caution-level-1: #fff6e5;
  --color-caution-level-2: #ffe5b2;
  --color-caution-level-6: #b27805;
  --color-negative: #ff5555;
  --color-negative-level-1: #ffeded;
  --color-negative-level-2: #ff8787;
  --color-negative-level-6: #803d3d;
  --color-foreground: #28333d;
  --color-foreground-level-1: #f8f8f8;
  --color-foreground-level-2: #ebeff3;
  --color-foreground-level-3: #c5d1db;
  --color-foreground-level-4: #a9b9c7;
  --color-foreground-level-5: #90a0af;
  --color-foreground-level-6: #546474;
  --color-background: #ffffff;
  --color-shadows: 0px 27px 58px rgba(0, 0, 0, 0.07),
    0px 12.4829px 26.8152px rgba(0, 0, 0, 0.0519173),
    0px 7.14244px 15.343px rgba(0, 0, 0, 0.0438747),
    0px 4.33541px 9.3131px rgba(0, 0, 0, 0.0377964),
    0px 2.61228px 5.61156px rgba(0, 0, 0, 0.0322036),
    0px 1.45468px 3.12488px rgba(0, 0, 0, 0.0261253),
    0px 0.62565px 1.34399px rgba(0, 0, 0, 0.0180827);
}

[data-theme="dark"] {
  --color-primary: #ff55ff;
  --color-primary-level-1: #382847;
  --color-primary-level-2: #62326d;
  --color-primary-level-6: #ffeaff;
  --color-secondary: #5555ff;
  --color-secondary-level-1: #212847;
  --color-secondary-level-2: #2c326d;
  --color-secondary-level-6: #e3e3ff;
  --color-tertiary: #55ffff;
  --color-tertiary-level-1: #214047;
  --color-tertiary-level-2: #2c686d;
  --color-tertiary-level-6: #d4ffff;
  --color-positive: #53db53;
  --color-positive-level-1: #21402f;
  --color-positive-level-2: #2c6837;
  --color-positive-level-6: #e3ffe3;
  --color-caution: #ffc555;
  --color-caution-level-1: #2f312d;
  --color-caution-level-2: #524a34;
  --color-caution-level-6: #ffefcf;
  --color-negative: #ff5555;
  --color-negative-level-1: #38282f;
  --color-negative-level-2: #623237;
  --color-negative-level-6: #ffd4d4;
  --color-foreground: #ffffff;
  --color-foreground-level-1: #162029;
  --color-foreground-level-2: #29343d;
  --color-foreground-level-3: #333e47;
  --color-foreground-level-4: #5e6d7a;
  --color-foreground-level-5: #8594a1;
  --color-foreground-level-6: #d3dee8;
  --color-background: #0e171f;
  --color-shadows: 0px -1px 1px rgba(255, 255, 255, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.25), -12px 12.4829px 90.82px rgba(255, 0, 0, 0.2),
    8px -5.39px 69.61px rgba(0, 255, 0, 0.2),
    8px 7.14244px 79.34px rgba(0, 0, 255, 0.4);
}
