:root {
  --elevation-low: 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.12);

  --elevation-medium: 0px 4px 8px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.12);

  --elevation-high: 0px 8px 16px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.12);
}
