html,
body {
  font-family: var(--typeface-regular);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  height: 100%;
  color: var(--color-foreground);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  font-feature-settings: "ss01", "ss02", "cv01";
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--color-foreground);
  cursor: pointer !important;
  text-decoration: none;
}

:root {
  --sidebar-width: 4rem;
  --topbar-height: 4rem;
  --bigheader-height: 16.5rem;
  --content-min-width: 30rem;
  --content-padding: 2rem;
  --content-max-width: 90rem;
}

.lock-screen > * {
  pointer-events: none;
}

.lock-screen {
  cursor: wait;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  cursor: default;
}

a > p,
a > span {
  cursor: pointer;
}
