html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--typeface-regular);
  font-size: 16px;
  height: 100%;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-width: calc(100vw - 100%);
}

a {
  color: var(--color-foreground);
  cursor: pointer;
  text-decoration: none;
}

:root {
  --content-min-width: 700px;
  --sidebar-width: 68px;
  --topbar-height: 61px;
}
