@font-face {
  font-family: "Inter Bold";
  src: url("fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("fonts/Inter-SemiBold.otf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "SourceCodePro Bold";
  src: url("fonts/SourceCodePro-Bold.otf");
}

@font-face {
  font-family: "SourceCodePro SemiBold";
  src: url("fonts/SourceCodePro-Semibold.otf");
}

@font-face {
  font-family: "SourceCodePro Regular";
  src: url("fonts/SourceCodePro-Regular.otf");
}

:root {
  --typeface-bold: "Inter Bold";
  --typeface-medium: "Inter SemiBold";
  --typeface-regular: "Inter Regular";
  --typeface-mono-bold: "SourceCodePro Bold";
  --typeface-mono-medium: "SourceCodePro SemiBold";
  --typeface-mono-regular: "SourceCodePro Regular";
}
