html,
body {
  font-family: var(--typeface-regular);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  height: 100%;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
}

:root {
  --sidebar-width: 68px;
  --content-min-width: 700px;
}
