[Unit]
Description=Radicle client services HTTP API

[Service]
ExecStart=/usr/local/bin/radicle-http-api \
  --listen 127.0.0.1:18777
EnvironmentFile=/etc/radicle-http-api.env
User=1000
Group=1000

[Install]
WantedBy=multi-user.target
