[Unit]
Description=Upstream seed node

[Service]
ExecStart=/usr/local/bin/upstream-seed \
  --log-json \
  --lnk-home /var/local/upstream-seed \
  --identity-key /var/local/upstream-seed/identity.key \
  --project ${PROJECTS}
EnvironmentFile=/etc/upstream-seed.env
User=1000
Group=1000

[Install]
WantedBy=multi-user.target
